@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: rgb(211, 211, 211, 100);
    font-family: "Noto Sans", sans-serif;
    color: rgb(56, 55, 55);
}

/* Estilo geral do cabeçalho */
.cabecalho {
    width: 100%;
    max-width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: rgb(241, 241, 241);
    color: #fff;
    margin: 0 auto;
}

/* .conteudo {
        background-color: rgb(211, 211, 211, 100);

} */

.cabecalho-titulo {
    font-size: 28px;
    cursor: pointer;
    margin: 0;
    color: rgb(41, 40, 40);
}

.cabecalho-menu {
    display: flex;
    margin-left: 20px;
    height: 20px;
    align-items: center;
}

.cabecalho-menu-item {
    font-size: 13px;
    margin-left: 30px;
    font-weight: normal;
    color: rgb(41, 40, 40);
    text-decoration: none;
    border-radius: 5px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 4% auto;
    max-width: 1150px;
}

.conteudo-principal-subtitulo {
    font-size: 17px;
    font-weight: 400;
    color: rgb(65, 64, 64);
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 600px;
    width: 80%;
}

.conteudo-principal-escrito-titulo {
    font-weight: 650;
    font-size: 45px;
    color: rgb(41, 40, 40);
}

.conteudo-principal-escrito-subtitulo {
    font-weight: 400;
    font-size: 24px;
}

.conteudo-principal-escrito-botao {
    background: rgba(222, 31, 29);
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 6px;
    font-weight: 300;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.conteudo-principal-imagem {
    width: 50%;
    margin: 0;
    float: none;
    margin-top: -250px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 72px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #4B0082;
    padding-top: 48px;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
}

.conteudo-principal-paragrafo {
    font-weight: 300;
    font-size: 18px;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #4B0082;
}

.span-cor {
    color: rgba(147, 112, 219);
}

.lista-pai {
    margin-left: 18px;
    font-size: 17px;
    list-style: none;
}

.lista-filho {
    margin-top: 18px;
}

.botao-contato {
    background: rgba(147, 112, 219);
    width: 85px;
    height: 25px;
    border: none;
    border-radius: 20px;
    font-weight: 300;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.botao-contato:hover {
    animation-name: botao;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

footer {
    background-color: rgb(241, 241, 241);
    padding: 50px 0;
}

.container-footer {
    max-width: 1600px;
    padding: 0 4%;
    margin: auto;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 22px;
    color: rgb(56, 55, 55);
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin: 10px 0;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(56, 55, 55);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #cecdcd;
    padding-left: 10px;
}

.footer-col .medias-socias {
    margin-top: 30px;
}

.footer-col .medias-socias a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: rgb(56, 55, 55);
    border: 1px solid white;
    transition: all 0.5s ease;
}

.footer-col .medias-socias a i {
    font-size: 20px;
}

.footer-col .medias-socias a:hover {
    color: #415aca;
    background-color: white;
}

.footer-col .form-sub input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: rgb(56, 55, 55);
    background-color: white;
}

.footer-col .form-sub input::placeholder {
    color: black;
}

.footer-col .form-sub button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: rgb(56, 55, 55);
    border-radius: 4px;
    font-weight: bold;
    background-color: white;
}

/* Responsivo para dispositivos grandes */
@media (max-width: 1450px) {
    .footer-col {
        width: 50%;
    }

    .conteudo-principal {
        width: 65%;
        margin-bottom: 200px;
        text-align: center;
    }

    .conteudo-principal-escrito-titulo {
        font-size: 60px;
        font-weight: bold;
    }

    .conteudo-principal-subtitulo {
        font-size: 17px;
        padding: 15px;
        font-weight: 200;
    }

    .lista-filho {
        font-size: 16px;
        margin-left: -10%;
        padding: 5px;
    }

    .conteudo-secundario {
        text-align: center;
        padding: 30px;
    }

    .conteudo-principal-imagem {
        width: 0;
    }
}

/* Responsivo para tablets e telas menores */
@media (max-width: 1024px) {
    .cabecalho {
        flex-direction: column;
        padding: 10px;
        height: auto;
    }

    .cabecalho-titulo {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .cabecalho-menu {
        margin-left: 0;
        margin-top: 10px;
        flex-direction: column;
    }

    .cabecalho-menu-item {
        margin-left: 0;
        margin-top: 10px;
    }

    .conteudo-principal {
        flex-direction: column;
        align-items: center;
        max-width: 90%;
    }

    .conteudo-principal-escrito {
        width: 100%;
        height: auto;
    }

    .conteudo-principal-escrito-titulo {
        font-size: 36px;
    }

    .conteudo-principal-escrito-subtitulo {
        font-size: 20px;
    }

    .conteudo-principal-imagem {
        width: 100%;
        margin-top: 0;
    }

    .footer-col {
        width: 50%;
        padding: 10px;
    }
}

/* Responsivo para dispositivos móveis */
@media (max-width: 768px) {
    .cabecalho-titulo {
        font-size: 20px;
    }

    .conteudo-principal {
        flex-direction: column;
        align-items: center;
    }

    .conteudo-principal-escrito-titulo {
        font-size: 28px;
        text-align: center;
    }

    .conteudo-principal-escrito-subtitulo {
        font-size: 18px;
    }

    .conteudo-principal-imagem {
        width: 100%;
        margin-top: 0;
    }

    .footer-col {
        width: 100%;
        padding: 10px 0;
    }

    .footer-col h4 {
        font-size: 18px;
    }

    .footer-col ul li a {
        font-size: 14px;
    }
}

/* Responsivo para dispositivos muito pequenos */
@media (max-width: 480px) {
    .cabecalho-titulo {
        font-size: 18px;
    }

    .conteudo-principal-escrito-titulo {
        font-size: 24px;
    }

    .conteudo-principal-escrito-subtitulo {
        font-size: 16px;
    }

    .footer-col h4 {
        font-size: 16px;
    }

    .footer-col ul li a {
        font-size: 12px;
    }
}

/* Estilos para a janela modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 120px;
}

.modal-content {
    background-color: rgb(211, 211, 211, 100);
    margin: 5% auto;
    color: black;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    max-width: 80%;
}

h2 {
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 3px;
    font-weight: 400;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    outline: none;
}

button[type="submit"] {
    background-color: #fff;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
    font-weight: bold;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: black;
    color: white;
    font-weight: bold;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
